.pantallAFondo {
    margin: 100px;
    display: initial;
    vertical-align: middle;
}

.interfaz {
    background: #f44336;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.btnAjuste {
    margin-left: -25%;
    float: left;
    min-width: -webkit-fill-available
}

.botones {
    height: 5%;
    width: 30%;
    margin-top: 40%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 32px 32px 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #008CBA;
    /* Blue */
    color: white;
    transform: scale(1.15);
}

p,
label {
    font-size: 2rem;
    color: antiquewhite;
}

.scoreTime {
    margin-top: 90%;
}

/*
@media screen and (max-width:800px) {
    body {
        background: #008CBA;
    }

    .pantallAFondo {
        display: none;
    }
}*/